/**
 * CSS for the WikiCalendar Plugin
 * @author Michael Klier <chi@chimeric.de>
 */


div.dokuwiki div.plugin_wikicalendar {
  /** border: 1px solid __border__;
  padding: 1em 1em 1em 1.5em;
  margin: 1em; */
  float: left;
}

div.dokuwiki table.plugin_wikicalendar tr:hover { 
  background: none; 
}
 
div.dokuwiki table.plugin_wikicalendar th.month {
  text-align: center;
  height: 1.5em;
  vertical-align: middle;
  color: __black__;
  border-bottom: 1px solid __border__;
  border-right: 1px solid __border__;
}

div.dokuwiki table.plugin_wikicalendar td {
  border-bottom: 1px solid __border__;
  border-right: 1px solid __border__;
}

div.dokuwiki table.plugin_wikicalendar_go2 {
  margin: 0 0 0.5em !important;
}

div.dokuwiki table.plugin_wikicalendar_go2 td {
  border: none !important;
}
 
div.dokuwiki table.plugin_wikicalendar td.weekday {
  text-align: center;
  background:  __light__;
  color:  __black__;
}
 
div.dokuwiki table.plugin_wikicalendar td.day,
div.dokuwiki table.plugin_wikicalendar td.today {
  padding: 0em;
}
 
div.dokuwiki table.plugin_wikicalendar td.blank {
  border: none;
}
 
div.dokuwiki table.plugin_wikicalendar td.day:hover,
div.dokuwiki table.plugin_wikicalendar td.today:hover {
  background:  __lightgray__;
}
 
div.dokuwiki table.plugin_wikicalendar div.noevent,
div.dokuwiki table.plugin_wikicalendar div.isevent {
  width: 3em;
  height: 1.2em;
  padding: 0.1em;
  float: right;
}
 
div.dokuwiki table.plugin_wikicalendar td.today div.noevent,
div.dokuwiki table.plugin_wikicalendar td.today div.isevent {
  background: #fcc;
}
 
div.dokuwiki table.plugin_wikicalendar td.day div.isevent {
  background: #cfc;
}
 
div.dokuwiki table.plugin_wikicalendar div.day_num {
  float: right;
}

div.dokuwiki table.plugin_wikicalendar div.day_num a:hover {
  text-decoration: none;
}

div.dokuwiki table.plugin_wikicalendar td.day div.abstract,
div.dokuwiki table.plugin_wikicalendar td.today div.abstract {
  display: none;
}

div.dokuwiki table.plugin_wikicalendar td.day:hover div.abstract,
div.dokuwiki table.plugin_wikicalendar td.today:hover div.abstract {
  display: block;
  float: left;
  position: relative;
  padding: 0.5em;
  left: 70px;
  top: 15px;
  border: 1px solid __border__;
  background: #ff9;
  width: auto;
}
 
div.dokuwiki table.plugin_wikicalendar input.btn_next_month,
div.dokuwiki table.plugin_wikicalendar input.btn_prev_month {
  text-decoration: none;
  border: none;
  cursor: pointer;
  background: none;
}

div.dokuwiki table.plugin_wikicalendar_go2 label {
  font-weight: bold;
}

div.dokuwiki a.plugin_wikicalendar_btn {
  float: left;
}

div.dokuwiki a.plugin_wikicalendar_btn:hover {
  text-decoration: none;
}

/* Modifed by Achilles 2010.9.19 */
div.dokuwiki div.plugin_wikicalendar {
  width: 54%;
  padding: 1em 1em 0em 0.5em;
  margin: 0.5em;
}
 
div.dokuwiki table.plugin_wikicalendar{
  width: 170px;
  border-collapse: collapse;
  border-left: 1px solid __border__;
  border-top: 1px solid __border__;
}
 
div.dokuwiki table.plugin_wikicalendar td {
  width: 1.2em;
}
 
div.dokuwiki table.plugin_wikicalendar div.noevent,
div.dokuwiki table.plugin_wikicalendar div.isevent {
  padding: 0.2em;
  width: 1.6em;
}

div.dokuwiki table.plugin_wikicalendar td.mute a {
  color: __text_other__;
}
 
div.dokuwiki table.plugin_wikicalendar td.day:hover div.abstract,
div.dokuwiki table.plugin_wikicalendar td.today:hover div.abstract {
  left: 10px;/* 70px; */
  width: 8em;/* auto; */
}

div.dokuwiki table.plugin_wikicalendar td.weekday {
  background: __nacre__;
}
/**
 * vim:ts=2:sw=2:et:enc=utf-8:
 */

